.daily {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

.daily-description {
    color: $color-subtle;
    font-style: italic;
    font-size: 0.9em;
}

.daily-requirement {
    margin-top: 1em;
}