/* variables */
:root {
	/* brand colors */
	--color-accent: #2980b9;
	--color-primary: #ecf0f1;
	--color-subtle: #aaaaaa;

	/* rarity */
	--color-rarity-legendary: #4c139d;
	--color-rarity-ascended: #fb3e8d;
	--color-rarity-exotic: #ffa405;
}

/* fonts */
@font-face {
  font-family: "EasonPro-Caps";
  src: url(../assets/fonts/easonpro-displaycaps-webfont.woff);
}

@font-face {
  font-family: "EasonPro";
  src: url(../assets/fonts/easonpro-regular-webfont.woff);
}

/* Master Styles */
html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

h2 {
  color: var(--color-accent);
  font-family: EasonPro-Caps;
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 1em;
}

a {
	color: var(--color-accent);
  text-decoration: none;
}

* {
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
}

/* controls */
.content-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-card {
  background-color: #e2e8e9;
	display: flex;
	flex-direction: column;
  width: 320px;
  padding:6px;
  margin: 0 1em 1em 0;
  margin-right: 16px;
}

.content-card .content-card-title {
	font-family: EasonPro;
	font-size: 1.4em;
	font-weight: bold;
}

.content-card .content-card-subtitle {
	font-family: EasonPro;
	font-size: 0.9em;
	font-weight: bold;
}

.link-button {
	border: none;
	background: none;
	color: var(--color-accent);
	cursor: pointer;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.tab-content {
	margin-top:1.2em;
}

img.game-content-list-icon {
	height: 48px;
	width: 48px;
	margin-right: 1.1em;
}

.fractal-title {
    margin-bottom: 1em;
}

.fractal-description {
    font-style: italic;
    flex-grow: 1;
}

/* styles for markdown pipe */
.markdown {
	line-height: 1.3em;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
	color: var(--color-accent);
	font-family: EasonPro;
	margin-bottom:0.2em;
}

.markdown h1 {
	font-size: 1.7em;
}

.markdown h2 {
	font-size: 1.3em;
}

.markdown p {
	margin-bottom: 1.3em;
}

.markdown ul {
	list-style: square inside;
}