@import '_vars';

/* Master Styles */
html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

h2 {
  color: $color-accent;
  font-family: $brand-font-caps;
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 1em;
}

a, a:hover {
	color: $color-accent;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

* {
  font-family: $font-body;
}

/* controls */
.content-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-card {
  background-color: #e2e8e9;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	display: flex;
	flex-direction: column;
	width: 320px;
	padding:6px;
	margin: 0 1em 1em 0;
	margin-right: 16px;
}

.content-card .content-card-title {
	font-family: $brand-font;
	font-size: 1.4em;
	font-weight: bold;
}

.content-card .content-card-subtitle {
	font-family: $brand-font;
	font-size: 0.9em;
	font-weight: bold;
}

.link-button {
	border: none;
	background: none;
	color: $color-accent;
	cursor: pointer;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.tab-content {
	margin-top:1.2em;
}

img.game-content-list-icon {
	height: 48px;
	width: 48px;
	margin-right: 1.1em;
}

.fractal-title {
    margin-bottom: 1em;
}

.fractal-description {
    font-style: italic;
    flex-grow: 1;
}

/* styles for markdown pipe */
.markdown {
	line-height: 1.3em;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
	color: $color-accent;
	font-family: EasonPro;
	margin-bottom:0.2em;
}

.markdown h1 {
	font-size: 1.7em;
}

.markdown h2 {
	font-size: 1.3em;
}

.markdown p {
	margin-bottom: 1.3em;
}

.markdown ul {
	list-style: square inside;
	margin-bottom: 1.3em;
}

.markdown table {
	margin-bottom: 1.3em;
}

.markdown th {
	text-align: left;
}

.markdown td, .markdown th {
	padding-bottom: 0.4em;
	padding-right: 1em;
}