#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-content {
  background-color: var(--color-accent);
  flex: 1;
  padding: 1em;
}

#app-nav {
  background-color: var(--color-primary);
  display: flex;
	height: 5.2em;
  justify-content: flex-end;
  padding: 0 1em;
}

#app-nav h1 {
  color: var(--color-accent);
  flex: 1;
  font-family: EasonPro-Caps;
  font-size: 2.5em;
	font-weight: bold;
	padding-top:0.5em;
}

#app-nav nav {
  margin:auto;
}

#app-nav a {
  color: var(--color-accent);
  margin: 0 20px 0px 0px;
  font-size: 1.2em;
	text-transform: lowercase;
}

#logo {
  height: 5.2em;
  width: 5.2em;
  background-image: url(app/assets/images/logo.png);
  background-position: -2;
  background-size: 5.2em;
  background-repeat: no-repeat;
}