@import '../styles/_vars';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-content {
  background-color: $color-primary;
  flex: 1;
  padding: 1em;
}

#app-titlebar {
  background-color: $color-accent;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1em;
}

h1, h1 a {
  color: $color-primary;
  display: inline;
  flex: 1;
  font-family: EasonPro-Caps;
  font-size: 2em;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
}

nav a {
  color: $color-primary;
  margin: 0 20px 0px 0px;
  font-size: 1.2em;
	text-transform: lowercase;
}