@import '../styles/_vars';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-content {
  background-color: $color-primary;
  flex: 1;
  padding: 1em;
}

#app-titlebar {
  background-color: $color-accent;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1em;
}

#app-titlebar-logo {
  background-color: $color-logo;
  display: inline-block;
  -webkit-mask-image: url(../assets/images/logo.svg);
  mask-image: url(../assets/images/logo.svg);
  -webkit-mask-size: 20em;
  mask-size: 20em;
  height: 7em;
  width: 20em;
  position: absolute;
  top: -1em;
  left: 0;
}

h1, h1 a {
  color: $color-primary;
  display: inline;
  flex: 1;
  font-family: EasonPro-Caps;
  font-size: 2em;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
}

nav a {
  color: $color-primary;
  margin: 0 20px 0px 0px;
  font-size: 1.2em;
	text-transform: lowercase;
}