<h3>{{viewModel?.zone}}'s</h3>
<h2>{{viewModel?.name}}</h2>
<div class="event-start-info">
    <waypoint [waypoint]="viewModel?.primaryWaypoint | async"></waypoint>
    |
    <span class="subtle-label">starts</span>
    <span class="accent-label">{{viewModel?.msTilNextOccurrence | async | timeUntil}}</span>
</div>

<h4>{{viewModel?.description}}</h4>

<div class="event-content">
    <md-tab-group>
        <md-tab>
            <template md-tab-label>GUIDE</template>
            <template md-tab-content>
                <div class="tab-content event-goals" [innerHtml]="viewModel?.guide | markdown">
                </div>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>WAYPOINTS</template>
            <template md-tab-content>
                <ul class="tab-content">
                    <li *ngFor="let waypoint of viewModel?.waypoints | async">
                        <event-waypoint [eventWaypointViewModel]="waypoint"></event-waypoint>
                    </li>
                </ul>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>GOALS</template>
            <template md-tab-content>
                <ul class="tab-content goal-contributions">
                    <li *ngFor="let goalContribution of viewModel?.goalContributions | async">
                        <goal-contribution [goalContribution]="goalContribution"></goal-contribution>
                    </li>
                </ul>
            </template>
        </md-tab>
    </md-tab-group>
</div>