<div class="event-card">
  <h3><a routerLink="/event/{{viewmodel.name | slug}}/{{viewmodel.id}}">{{viewmodel.name}}</a></h3>
  <h4>{{viewmodel.zone}}</h4>
  <div class="event-desc">
    {{viewmodel.description}}
  </div>
  <ul class="event-goal-contribution">
      <li *ngFor="let goalContribution of viewmodel.goalContributions | async">
        <img 
          class="goal-icon" 
          *ngIf="goalContribution.goal.iconUrl"
          [alt]="goalContribution.goal.name"
          [src]="goalContribution.goal.iconUrl" />
      </li>
    </ul>
  <div class="event-next-occurrence">
    <span class="event-countdown-text">{{ viewmodel.countdownText }}</span>
    <span class="event-countdown">{{ viewmodel.msTilNextOccurrence | timeUntil }}</span>
  </div>
</div>