h2 {
    margin-bottom: 0;
}

h3, h3 a {
    font-family: EasonPro;
    font-weight: lighter;
    text-transform: lowercase;
}

h4 {
    font-weight: lighter;
    font-style: italic;
    margin-bottom:48px;
}

.subtle-label {
    color: $color-subtle;
}

.event-start-info {
    margin-bottom: 1.8em;
}

.event-content {
    margin-top: 2em;
}