<h3><a routerLink="/events">events</a> &gt; {{viewModel?.zone}}'s</h3>
<h2>{{viewModel?.name}}</h2>
<div class="event-start-info">
  <waypoint [waypoint]="viewModel?.primaryWaypoint | async"></waypoint>
  <div class="starts">
    <span class="subtle-label">starts</span>
    <span class="accent-label">{{viewModel?.msTilNextOccurrence | async | timeUntil}}</span>
    <span class="subtle-label"> ({{viewModel?.timeOfNextOccurrence | async | date:'shortTime'}})</span>
  </div>
</div>

<h4 [innerHtml]="viewModel?.description | markdown"></h4>

<div class="event-content">
  <md-tab-group>
    <md-tab *ngIf="viewModel?.guide" label="QUICK GUIDE">
      <div class="tab-content event-goals" [innerHtml]="viewModel?.guide | markdown"></div>
    </md-tab>
    <md-tab label="WAYPOINTS">
      <ul class="tab-content">
        <li *ngFor="let waypoint of viewModel?.waypoints | async">
          <lal-event-waypoint [viewModel]="waypoint"></lal-event-waypoint>
        </li>
      </ul>
    </md-tab>
    <md-tab *ngIf="(viewModel.goalContributions | async).length" label="GOALS">
      <ul class="tab-content goal-contributions">
        <li *ngFor="let goalContribution of viewModel?.goalContributions | async">
          <goal-contribution [goalContribution]="goalContribution"></goal-contribution>
        </li>
      </ul>
    </md-tab>
  </md-tab-group>
</div>