h3, h4 {
  font-family: EasonPro;
  font-weight: bold;
  margin:0;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 12px;
}

.event-next-occurrence {
    margin-top:1em;
}

.event-countdown-text {
  color: $color-subtle;
}

.event-countdown {
  color: $color-accent;
}

.event-goal-contribution {
  display: flex;
  flex-direction: row-reverse;
  margin-top:2em;
}

.event-goal-contribution li {
  margin-right: 0.75em;
}