@import '../../../../../styles/_vars.scss';

h4 {
  color: $color-material-control-header;
  font-family: $font-body;
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

h4:not(:first-child) {
  margin-top: 2em;
}