<div class="event-card">
  <h3>{{viewmodel.name}}</h3>
  <h4>{{viewmodel.zone}}</h4>
  <div class="event-desc">
    {{viewmodel.description}}
  </div>
  <div class="event-goal-contribution">
    <ul>
      <li *ngFor="let goalContribution of viewmodel.goalContributions">
        <img class="goal-icon" [src]="goalContribution.goal.iconUrl" [alt]="goalContribution.goal.name" />
        <span [innerHtml]="goalContribution.description | markdown"></span>
      </li>
    </ul>
  </div>
  <div class="event-next-occurrence">
    <span class="event-countdown-text">{{ viewmodel.countdownText }}</span>
    <span class="event-countdown">{{ viewmodel.msTilNextOccurrence | timeUntil }}</span>
  </div>
</div>