.event-card {
  background-color: #e2e8e9;
  display:inline-block;
  width: 280px;
  padding:6px;
  margin-right: 16px;
}

h3, h4 {
  font-family: EasonPro;
  font-weight: bold;
  margin:0;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 12px;
}

.event-next-occurrence {
    margin-top:1em;
}

.event-countdown-text {
  color: var(--color-subtle);
}

.event-countdown {
  color: var(--color-primary);
}

.goal-icon {
  width: 24px;
  height: 24px;
}