h3, h4 {
  font-family: EasonPro;
  font-weight: bold;
  margin:0;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 12px;
}

.event-next-occurrence {
    margin-top:1em;
}

.event-countdown-text {
  color: var(--color-subtle);
}

.event-countdown {
  color: var(--color-accent);
}

.event-goal-contribution {
  display: flex;
  flex-direction: row-reverse;
  margin-top:2em;
}

.event-goal-contribution li {
  margin-right: 0.75em;
}

.goal-icon {
  width: 24px;
  height: 24px;
  background-color: var(--color-accent);
  -webkit-mask-origin: center center;
  -webkit-mask-size: 24px 24px;
}

.goal-icon.ascended-backpack {
  background-color: var(--color-rarity-ascended);
  -webkit-mask-image: url(/assets/images/icons/goal-backpack.png);
}

.goal-icon.ascended-crafting {
  background: var(--color-rarity-ascended);
  -webkit-mask-image: url(/assets/images/icons/goal-crafting.png);
}

.goal-icon.ascended-weapons {
  background: var(--color-rarity-ascended);
  -webkit-mask-image: url(/assets/images/icons/goal-weapons.png);
}

.goal-icon.exotic-armor {
  background: var(--color-rarity-exotic);
  -webkit-mask-image: url(/assets/images/icons/goal-armor.png);
}

.goal-icon.exotic-crafting {
  background: var(--color-rarity-exotic);
  -webkit-mask-image: url(/assets/images/icons/goal-crafting.png);
}

.goal-icon.legendary {
  background: var(--color-rarity-legendary);
  -webkit-mask-image: url(/assets/images/icons/goal-weapons.png);
}

.goal-icon.hot-legendary {
  background: var(--color-rarity-legendary);
  -webkit-mask-image: url(/assets/images/icons/goal-weapons.png);
}

.goal-icon.unique-runes {
  -webkit-mask-image: url(/assets/images/icons/goal-runes.png);
}

.goal-icon.unique-skins {
  -webkit-mask-image: url(/assets/images/icons/goal-skins.png);
}

.goal-icon.xp {
  -webkit-mask-image: url(/assets/images/icons/goal-xp.png);
}