<div class="event-card">
  <h3><a routerLink="/event/{{viewModel?.name | slug}}/{{viewModel?.id}}">{{viewModel?.name}}</a></h3>
  <h4>{{viewModel.zone}}</h4>
  <div class="event-desc">
    {{viewModel.description}}
  </div>
  <ul class="event-goal-contribution">
      <li *ngFor="let goalContribution of viewModel.goalContributions | async">
        <img 
          class="goal-icon" 
          *ngIf="goalContribution.goal.iconUrl"
          [alt]="goalContribution.goal.name"
          [src]="goalContribution.goal.iconUrl" />
      </li>
    </ul>
  <div class="event-next-occurrence">
    <span class="event-countdown-text">{{ viewModel?.countdownText }}</span>
    <span class="event-countdown">{{ viewModel?.msTilNextOccurrence | async | timeUntil }}</span>
  </div>
</div>